@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="mt-5 homepage"  >
    <div id="grid-aboutus">
        <div class="grid-full justify-content-center">
            <div class="m-5">
                <div class="d-flex justify-content-center">
                    <h1 class="welcome-text" style="font-weight:bold;">Stay in touch!</h1>
                </div>
                <div class="mt-5">
                    <p> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id nulla non tortor posuere convallis et eu turpis. Nam pellentesque fringilla enim vitae sodales. 
                        Suspendisse nec diam tortor. Pellentesque ultricies quam non volutpat finibus.
                    <p/>
                    <p>
                        Aenean leo ipsum, fringilla eget gravida eu, volutpat a nibh. 
                        Pellentesque eleifend in risus sit amet euismod. Sed quam est, tempor ac sem ac, fermentum auctor magna. 
                        Vivamus blandit pretium ultrices.
                    </p>
                    <p>
                        Praesent posuere ipsum mi, eget suscipit libero convallis et. Praesent volutpat varius tincidunt. Mauris mollis tortor massa, ut porta erat fermentum vel. 
                        Sed condimentum non ligula vitae sodales. 
                        Cras finibus aliquet mi, et imperdiet dolor luctus consequat. 
                    </p>
                </div>
                 
            </div>
           
        </div>

       
    </div>
    
</div>