@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="mt-5 homepage"  >
    <div id="grid">
        <div class="grid-1 d-flex justify-content-center">
            @Html.Partial("blogPostsPartial")
        </div>

        <div class="grid-2">
            @Html.Partial("personalInfoPartial")
            
        </div>
    </div>
    
</div>
