@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="personal-card">
   
    <div class="d-flex justify-content-center mt-5">
        <a href="@Umbraco.Content("d4e1037c-f49f-4438-883a-208f8ab52269").Url()"><img style="width:300px;" class="rounded-circle" src="/media/uqkjps2x/girl2.jpg"/></a>
    </div>
    <div class="mt-4 m-3">
        <p> 
            This person does not exist. Personal info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id nulla non tortor posuere convallis et eu turpis. Nam pellentesque fringilla enim vitae sodales. 
            Suspendisse nec diam tortor. Pellentesque ultricies quam non volutpat finibus.
        <p/>
        <p>
            Aenean leo ipsum, fringilla eget gravida eu, volutpat a nibh. 
            Pellentesque eleifend in risus sit amet euismod. Sed quam est, tempor ac sem ac, fermentum auctor magna. 
            Vivamus blandit pretium ultrices.
        </p>
        <p>
            Praesent posuere ipsum mi, eget suscipit libero convallis et. Praesent volutpat varius tincidunt. Mauris mollis tortor massa, ut porta erat fermentum vel. 
            Sed condimentum non ligula vitae sodales. 
            Cras finibus aliquet mi, et imperdiet dolor luctus consequat. 
        </p>
    </div>
        
        
   
    
    
</div>
 